body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #003366, #000);
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: relative;
  z-index: 1;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 1rem;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }

  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile-container {
  width: 500px;
  height: 400px;
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-image: linear-gradient(#CC95C0, #DBD4B4, #7AA1D2) 1 fill;
}
.profile-container img {
  border-radius: 50%;
  margin-top: 10px;
  width: 150px;
  height: 150px;
}
.profile-container h1 {
  margin: 10px 0;
}
.profile-container p {
  color: #000000;
}

#comment{
  width: 60em;
  height: 30em;
  resize: none;
}

a img{
  width: 30px;
  height: auto;
  border-radius: 50px;
}

.subimage{
  width: inherit;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;  
  /* background-color: red; */
}

.subimage div a img{
  width: 40px;
  height: auto;
}